#.cache/
#.config/
#.vscode/
#.vscode-server/
#.profile
#.viminfo
#.xsessionrc
#*.o
*
!*.cpp
!*.h
!RoundRobin
!Makefile
!gpiofunction/**/
!gpiofunction/
!GPIOfucntion2
!StateMachine
!ETL&STL/
!ETL&STL/test
!build
!.gitignore